Temp*
obj/*
localmedia/*
Library/*
Logs/*
build/*
.vs/*
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
black_and_white.png
cosmo_alpha.bmp
config.txt
cosmo_alpha.png
cosmo_tiny.bmp
GameGenTemplate.png
GameGenTemplateMask.png
aitools_client.sln
interrogation.txt
json_to_send.json
UserSettings/EditorUserSettings.asset
UserSettings/Search.settings
UserSettings/Layouts/default-2022.dwlt
SethsAIToolsWindows.zip
square_pic_test.png
tall_pic_test.png
test_image_cosmo_512.png
vanilla_noise.png
wide_pic_test.jpg
log.txt
.vsconfig
webgltemp/aitools_client/favicon.ico
webgltemp/aitools_client/index.html
webgltemp/aitools_client/logo.png
webgltemp/aitools_client/Build/.htaccess
webgltemp/aitools_client/Build/web.data.gz
webgltemp/aitools_client/Build/web.framework.js.gz
webgltemp/aitools_client/Build/web.loader.js
webgltemp/aitools_client/Build/web.wasm.gz
SethsAIToolsWindowsBeta.zip
