Temp*
obj/*
localmedia/*
Library/*
Logs/*
build/*
.vs/*
autosave/*
*.csproj
config.txt
aitools_client.sln
interrogation.txt
json_to_send.json
UserSettings/EditorUserSettings.asset
UserSettings/Search.settings
UserSettings/Layouts/default-2022.dwlt
SethsAIToolsWindows.zip
log.txt
.vsconfig
webgltemp/*
SethsAIToolsWindowsBeta.zip
OldVersions/*
Images/*
UserSettings/*
Assets/GUI/times.ttf
Assets/GUI/GOTHIC.TTF
last_error_returned.json
text_completion_sent.json
textgen_json_received.json
output/*
clau
claude_json_received.json
comfyui_json_to_send.json
dalle_last_error_returned.json
dalle3_json_received.json
dalle3_json_sent.json
change_model_server_request.txt
AIGuide/TEST_*
ComfyUI/TEST_*
ComfyUI/Unused
Adventure/TEST_*
Presets/TEST_*
crap.png
setup_ollama_server_request.txt
.cursor/rules/*
test_*
.cursorignore
Assets/Experiments/CrazyCam/BLOODY.TTF
Assets/Experiments/CrazyCam/BLOODY.TTF.meta
comfyui_workflow_to_send_api.json
openai_image_json_received.json
openai_image_json_sent.json
openai_image_last_error_returned.json
llm_settings.txt
config_llm.txt
ComfyUI/*_cached_api*
json_error.json
TestFiles/*
gemini_last_error.json
gemini_request_sent.json
gemini_streaming_response.json
config_preferences.txt
